.imagen {
  position: relative;
  position:absolute;
  left: 0;
  width: 20%;
  height: auto;
  top: 0;
}
.App-header h1 {
  color: rgb(212, 15, 15);
  text-align: right;
  position: relative;
  position:absolute;
  left: 0;
  width: 50%;
  height: auto;
  top:2cap;
}


.App-header {
  background-color: white;
  min-height: 5vh;
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  border-top: 2px solid rgb(215, 27, 49);
  margin-top: 20%;
  margin-right: 80;
}

.horizontal-form {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente al centro */
}

.horizontal-form div {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Espacio entre los divs */
}

.horizontal-form label {
  margin-right: 10px; /* Espacio entre la etiqueta y el input */
}

.horizontal-form input {
  padding: 5px;
}

.horizontal-form button {
  padding: 10px;
  background-color: #f2f4f6;
  color: rgb(3, 3, 3);
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

.horizontal-form button:hover {
  background-color: #f2f4f6;
}
.App-body p {
  margin-top: 4%;
  text-align: left;
  width: 50%;
}

.App-footer p {
  text-align: center;
  padding: 10px;
  background-color:white;
  color: rgb(6, 5, 5);
  border-top: 2px solid rgb(215, 27, 49);
  margin-top: 25%;
}
